@font-face {
    font-family: 'Cairo';
    src: url('ar/Cairo-Regular.eot');
    src: url('ar/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('ar/Cairo-Regular.woff2') format('woff2'),
        url('ar/Cairo-Regular.woff') format('woff'),
        url('ar/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('ar/Cairo-Light.eot');
    src: url('ar/Cairo-Light.eot?#iefix') format('embedded-opentype'),
        url('ar/Cairo-Light.woff2') format('woff2'),
        url('ar/Cairo-Light.woff') format('woff'),
        url('ar/Cairo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('ar/Cairo-Bold.eot');
    src: url('ar/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('ar/Cairo-Bold.woff2') format('woff2'),
        url('ar/Cairo-Bold.woff') format('woff'),
        url('ar/Cairo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gotham';
    src: url('en/Gotham-Bold.eot');
    src: url('en/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('en/Gotham-Bold.woff2') format('woff2'),
        url('en/Gotham-Bold.woff') format('woff'),
        url('en/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('en/Gotham-Medium.eot');
    src: url('en/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('en/Gotham-Medium.woff2') format('woff2'),
        url('en/Gotham-Medium.woff') format('woff'),
        url('en/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('en/Gotham-Light.eot');
    src: url('en/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('en/Gotham-Light.woff2') format('woff2'),
        url('en/Gotham-Light.woff') format('woff'),
        url('en/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


